extends ../layouts/main.pug

block globals
    - const title = " About Movies"

block content
        h1#header= title

        p.intro-text.second-class(data-attr ="my value") Enter all your favorite movies and keep a record for them